@model IEnumerable<ToDoList.Models.nhanvien>

@{
    ViewBag.Title = "TimKiemNV";
    Layout = "~/Views/Shared/test.cshtml";
}

<h2>Tìm kiếm nhân viên</h2>

<p>
    @Html.ActionLink("Về trang chủ", "Index")
</p>
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Từ khóa: <span style="color:red">@ViewBag.TuKhoa</span></h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr style="background-color:#1dbb9e; color:white">
                <th>
                    Tên nhân viên
                    <!---@Html.DisplayNameFor(model => model.nhanvien_ten)-->
                </th>
                <th>
                    Giới tính
                    <!---@Html.DisplayNameFor(model => model.nhanvien_gioitinh)-->
                </th>
                <th>
                    Ngày sinh
                    <!---@Html.DisplayNameFor(model => model.nhanvien_ngaysinh)-->
                </th>
                <th>
                    CMND
                    <!---@Html.DisplayNameFor(model => model.nhanvien_cmnd)-->
                </th>
                <th>
                    Chức vụ
                    <!--@Html.DisplayNameFor(model => model.chucvu.chucvu_ten)--->
                </th>
                <th>
                    Chức năng
                </th>
            </tr>

            @foreach (var item in ViewBag.NV)
            {
                <tr>
                    <td>
                        @item.nhanvien_ten
                    </td>
                    <td>
                        @item.nhanvien_gioitinh
                    </td>
                    <td>
                        @item.nhanvien_ngaysinh
                    </td>
                    <td>
                        @item.nhanvien_cmnd
                    </td>
                    <td>
                        @item.chucvu.chucvu_ten
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "SuaNhanVien", new { id = item.nhanvien_id }, new { @class = "label label-warning" }) |
                        @Html.ActionLink("Xóa", "XoaNhanVien", new { id = item.nhanvien_id }, new { @class = "label label-danger" }) |
                        @Html.ActionLink("Xem công việc", "XemCVNhanVien", new { id = item.nhanvien_id }, new { @class = "label label-success" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
